main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    background-color: #fff;
}

.container-flex-perfil {
     width: 90%;
     max-width: 900px;
     display: flex;
     flex-direction: column;
     gap: 30px;
 }

 #foto-user{
   display: flex;
   gap: 15px;
   justify-content: center;
   align-items: center;
 }

 #foto-user > a > img{
 width: 60px;
 height: 60px;

 }

 #perfil{
   background-color: var(--cor-branco);
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 30px;
   flex-wrap: wrap;
   border: var(--borda);
   
 }

 .Dados-perfil{
   display: flex;
   flex-direction: column;

 }
 .editar-perfil{
  display: flex;
  justify-content: center;
  
 }


 .Dados-perfil > div{
   display: flex;
   gap: 30px;
 }
 
 .publicacao-cabecalho{
  background-color: var(--cor-branco);
  display: flex;
  align-items:center;
  justify-content: center;
  padding: 15px;  
 }

 .post-texto{
  background-color: var(--cor-branco);
  align-items: center;
  justify-content: center;
  gap: 100px;
  
  border: var(--borda);
 }
 