main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.container-flex-perfil {
     width: 90%;
     max-width: 900px;
     display: flex;
     flex-direction: column;
     gap: 30px;
 }

 #foto-user{
   display: flex;
   gap: 15px;
   justify-content: center;
   align-items: center;
 }

 #foto-user > a > img{
 width: 60px;
 height: 60px;

 }

 #perfil{
   background-color: aquamarine;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 30px;
   flex-wrap: wrap;
   
 }

 .Dados-perfil{
   display: flex;
   flex-direction: column;
   gap: 15px;
   

 }

 .Dados-perfil > div{
   display: flex;
   gap: 30px;
 }

 /* #coluna-1{
   display: flex;
   flex-direction: column;
   padding: 1px;
 }

 #coluna-2{
   display: flex;
   flex-direction: column;
 }

 #coluna-2
{
   display: flex;
   flex-direction: column;
 }

.perfil {
    object-fit: cover;
    object-position: center;
    width: 100px;
    height: 100px;
    justify-content: space-between;
    gap: 30PX;
 }
  
 .card-perfil{
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
 }

 .foto-perfil {
    width: 40px;
    height: 40px;
    object-fit: cover;
    object-position: center;
 }

 .card-perfil > button{
    border: none;
    font-size: var(--tamanho-fonte-sm);
    align-items: center;
    gap: 8px;
 }

 .card-perfil > button > img{
    width: 85px;
    height: 85px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    border: none;
 } */
 
 
 